body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(168, 15, 5)
  }
  
  #whack-a-prof {
    background-color: rgb(53, 112, 189);
    border: solid 10px #000;
    padding: 20px;
    width: 360px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hole {
    background-image: url("images/hole.png");
    background-size: 100%, 100%;
    width: 100px;
    height: 123px;
    margin: 5px;
  }

  .prof {
    background-image: url(images/prof.png);
  }
  .prof2 {
    background-image: url(images/prof2.png);
    height: 150px;
  }
  .prof3 {
    background-image: url(images/prof3.png);
    height: 150px;
  }